<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        <%= current_page.data.title || data.site.title %>
    </title>

    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "plugins" %>
    <%= stylesheet_link_tag "styles" %>

    <%= javascript_include_tag "site" %>
</head>

<body class="<%= page_classes %>">
    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <%= partial 'header' %>

        <%= yield %>

        <%= partial 'contact' %>

        <%= partial 'footer' %>

        <!-- start scroll to top -->
        <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
        <!-- end scroll to top -->

    </div>
    <!-- end main-wrapper -->


    <!-- all js include start -->

    <!-- jQuery -->
    <%= javascript_include_tag "jquery.min" %>

    <!-- modernizr js -->
    <%= javascript_include_tag "modernizr" %>

    <!-- bootstrap -->
    <%= javascript_include_tag "bootstrap.min" %>

    <!-- scrollIt -->
    <%= javascript_include_tag "scrollIt.min" %>

    <!-- navigation -->
    <%= javascript_include_tag "nav-menu" %>

    <!-- tab -->
    <%= javascript_include_tag "easy.responsive.tabs" %>

    <!-- owl carousel -->
    <%= javascript_include_tag "owl.carousel" %>

    <!-- jquery.counterup.min -->
    <%= javascript_include_tag "jquery.counterup.min" %>

    <!-- stellar js -->
    <%= javascript_include_tag "jquery.stellar.min" %>

    <!-- waypoints js -->
    <%= javascript_include_tag "waypoints.min" %>

    <!-- tab js -->
    <%= javascript_include_tag "tabs.min" %>

    <!-- jquery.magnific-popup js -->
    <%= javascript_include_tag "jquery.magnific-popup.min" %>

    <!-- wow js -->
    <%= javascript_include_tag "wow" %>

    <!-- custom scripts -->
    <%= javascript_include_tag "main" %>

    <!-- all js include end -->
</body>

</html>