<!-- start main banner area -->
<div class="banner-area">
    <div class="container">
        <div class="row">

            <!-- start left banner text -->
            <div class="col-lg-6 col-md-12">
                <div class="header-text sm-width-75 xs-width-100">

                    <h1 class="line-height-55 md-line-height-50 xs-line-height-40 wow fadeInUp text-theme-color xs-font-size30"
                        data-wow-delay=".1s">
                        <%= data.home.splash.title %>
                    </h1>
                    <p class="font-size16 line-height-28 xs-font-size14 xs-line-height-26 margin-30px-bottom sm-margin-20px-bottom width-80 xs-width-90 wow fadeInUp"
                        data-wow-delay=".2s">
                        <%= data.home.splash.body %>
                    </p>
                    <div class="wow fadeInUp story-video" data-wow-delay=".4s">
                        <a href="<%= data.home.splash.button.link %>" class="butn margin-10px-right vertical-align-middle">
                            <%= data.home.splash.button.text %>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end banner text -->

            <!-- start right image banner -->
            <div class="col-lg-6 col-md-12 sm-text-center">
                <div class="banner-img">
                    <img src="<%= data.home.splash.bannerImage %>" class="img-fluid float-right width-100" alt="">
                </div>
            </div>
            <!-- end right image banner -->
        </div>
    </div>

    <!-- start shape area -->
    <div class="header-shape-bg">
        <img src="/images/banner/header-bg02.svg" class="img-fluid width-100" alt="">
    </div>
    <!-- end shape area -->
</div>
<!-- end main banner area -->

<!-- start detail sections -->
<% if data.home.sections? %>
<% data.home.sections.each_with_index do |section, index| %>
<% if index % 2 == 0 %>
<section>
<% else %>
<section class="bg-light-gray">
<% end %>
    <div class="container">
        <div class="row">
            <% if index % 2 != 0 %>
            <div class="col-lg-6 col-md-12 sm-text-center sm-margin-20px-bottom d-flex align-items-center">
                <img src="<%= section.imageUrl || 'images/content/content-04.png' %>" alt="" />
            </div>
            <% end %>
            
            <% if index % 2 == 0 %>
            <div class="col-lg-6 col-md-12 order-2 order-lg-1 d-flex align-items-center">
            <% else %>
            <div class="col-lg-6 col-md-12 d-flex align-items-center">
            <% end %>

                <% if index % 2 == 0 %>
                <div class="padding-30px-right sm-no-padding">
                <% else %>
                <div class="padding-30px-left sm-no-padding">
                <% end %>

                    <% if section.label? %>
                    <div class="alt-font text-theme-color margin-5px-bottom letter-spacing-1"><%= section.label %></div>
                    <% end %>

                    <% if section.title? %>
                    <h4>
                        <%= section.title %>
                    </h4>
                    <% end %>

                    <% if section.body? %>
                    <p>
                        <%= section.body.html_safe %>
                    </p>
                    <% end %>

                    <% if section.list? %>
                    <ul class="list-style margin-30px-bottom">
                        <% section.list.items.each do |listItem| %>
                        <li><%= listItem %></li>
                        <% end %>
                    </ul>
                    <% end %>

                    <% if section.buttons? %>
                    <% section.buttons.each do |button| %>
                    <a href="<%= button.link || 'javascript:void(0)' %>" class="butn"><%= button.text %></a>
                    <% end %>
                    <% end %>

                </div>

            </div>

            <% if index % 2 == 0 %>
            <div class="col-lg-6 col-md-12 sm-text-center sm-margin-30px-bottom order-1 order-lg-2">
                <img src="<%= section.imageUrl || '/images/content/content-04.png' %>" alt="" />
            </div>
            <% end %>
        </div>
    </div>
</section>
<% end %>
<% end %>
<!-- end detail sections -->

<!-- start service section -->
<section class="bg-light-gray">
    <div class="container">
        <div class="text-center section-heading">
            <h2>Why you should trust us</h2>
        </div>
        <div class="row">
            <% data.whytrustus.list[0..3].each do |reason| %>
            <div class="col-lg-4 col-md-12 sm-margin-20px-bottom">
                <div class="service-block2 text-center">
                    <div class="item-icon margin-20px-bottom"><span class="fas <%= reason.icon %>"></span>
                    </div>
                    <div class="item-text">
                        <h3 class="margin-10px-bottom font-size22 md-font-size20 xs-font-size18"><%= reason.name %></h3>
                        <p class="font-size16 line-height-28"><%= reason.description %></p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>

    </div>
</section>
<!-- end service section -->

<!-- start blog section -->
<section>
    <div class="container">
        <div class="section-heading">
            <h3>Latest Insights</h3>
        </div>
        <div class="row">
            <% blog('insights').articles[0..3].each do |article| %>
            <div class="col-lg-4 col-md-12 sm-margin-30px-bottom">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative">
                        <div class="page-title-section theme-overlay" data-overlay-dark="3"></div>
                        <div class="data-box-grid position-absolute">
                            <h5><%= article.date.strftime('%d') %></h5>
                            <p><%= article.date.strftime('%b, %Y') %></p>
                        </div>
                    </div>
                    <div class="blog-grid-text padding-25px-all sm-padding-20px-all border border-color-medium-gray">
                        <h4><a href="javascript:void(0)"><%= link_to article.title, article %></a></h4>
                        <p class="no-margin"><%= article.summary(150) %></p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</section>
<!-- end blog section -->
