<!-- start page title section -->
<section class="page-title-section bg-img cover-background theme-overlay" data-overlay-dark="7" data-background="/images/banner/bg9.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <%= data.services.title %>
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->

<!-- start technologies section -->
<div class="section-clients" style="background-color: #f3f3f3">
    <div class="container">
        <div class="owl-carousel owl-theme clients" id="clients">
            <% data.services.technologies.each do |technology| %>
            <div class="item" style="text-align: center">
                <img style="width: 100px !important" alt="<%= technology.name %>" src="<%= technology.image.color %>">
            </div>
            <% end %>
        </div>
    </div>
</div>
<!-- end technologies section -->

<!-- start detail sections -->
<% if data.services.sections? %>
<% data.services.sections.each_with_index do |section, index| %>
<% if index % 2 == 0 %>
<section>
<% else %>
<section class="bg-light-gray">
<% end %>
    <div class="container">
        <div class="row">
            <% if index % 2 != 0 %>
            <div class="col-lg-6 col-md-12 sm-text-center sm-margin-20px-bottom">
                <img src="<%= section.imageUrl || 'images/content/content-04.png' %>" alt="" />
            </div>
            <% end %>

            <% if index % 2 == 0 %>
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
            <% else %>
            <div class="col-lg-6 col-md-12">
            <% end %>

                <% if index % 2 == 0 %>
                <div class="padding-30px-right sm-no-padding padding-50px-tb md-padding-30px-tb vert-center">
                <% else %>
                <div class="padding-30px-left sm-no-padding padding-50px-tb md-padding-30px-tb vert-center">
                <% end %>

                    <% if section.label? %>
                    <div class="alt-font text-theme-color margin-5px-bottom letter-spacing-1">
                        <%= section.label %>
                    </div>
                    <% end %>

                    <% if section.title? %>
                    <h4>
                        <%= section.title %>
                    </h4>
                    <% end %>

                    <% if section.body? %>
                    <p>
                        <%= section.body.html_safe %>
                    </p>
                    <% end %>

                    <% if section.list? %>
                    <ul class="list-style margin-30px-bottom">
                        <% section.list.items.each do |listItem| %>
                        <li>
                            <%= listItem %>
                        </li>
                        <% end %>
                    </ul>
                    <% end %>

                    <% if section.buttons? %>
                    <% section.buttons.each do |button| %>
                    <a href="<%= button.link || 'javascript:void(0)' %>" class="butn">
                        <%= button.text %>
                    </a>
                    <% end %>
                    <% end %>

                </div>
            </div>

            <% if index % 2 == 0 %>
            <div class="col-lg-6 col-md-12 sm-text-center sm-margin-30px-bottom order-1 order-lg-2">
                <img src="<%= section.imageUrl || '/images/content/content-04.png' %>" alt="" />
            </div>
            <% end %>

        </div>
    </div>
</section>
<% end %>
<% end %>
<!-- end detail sections -->
